* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	overflow-x: hidden;
	font-size: 16px;
}

/* Media query for screens up to 600px wide */
@media screen and (max-width: 600px) {
	body, html {		font-size: 16px;
	}
}

/* Media query for screens between 601px and 1200px wide */
@media screen and (min-width: 601px) and (max-width: 1200px) {
	body,html {
		font-size: 20px;
	}
}

/* Media query for screens larger than 1200px wide */
@media screen and (min-width: 1201px) {
	body, html {
		font-size: 18px;
	}
}

.spacer{
	margin: 10px;
	height: 200px; 
	background-color: brown;
}

.planet-div{
	display:block;
	height: 500px;
	background-color: #dddddd;
}

.webgl{
	position: absolute;
	z-index: 1;
	right: 0px;
}

.title{
	z-index: 2;
	display: inline;
	position: relative;
	color:white;
	font-family: "Poppins", sans-serif;
	font-size: 3rem;
	font-weight: bold;
	left: 3%;
	top: 20%;
	transform: translate(-3%, -20%);
}

.dialog-box {
	position: absolute;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	z-index: 3;
	font-size: 1.1rem;
}

.close-button {
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	font-size: 1rem;
}